<div class="card text-center simple-card">
    <div class="card-header">
      <h2 class="mt-0">Cryptocurrency Convertor</h2>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6 mb-2">
                <div ngbDropdown class="d-inline-block dropdown pl-lg-5">
                    <a class="btn btn-primary" id="fromCurrency" ngbDropdownToggle>{{fromCurrency?.name}} ({{fromCurrency?.symbol}})</a>
                    <div ngbDropdownMenu aria-labelledby="fromCurrency" class="dropdown-primary">
                        <a class="dropdown-item" (click)="changeFromCurrency(currency)"
                        *ngFor="let currency of coinList">
                        {{currency.name}}
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 mb-2">
                <div ngbDropdown class="d-inline-block dropdown pl-lg-5">
                    <a class="btn btn-primary" id="toCurrency" ngbDropdownToggle>{{toCurrency?.name}} ({{toCurrency?.symbol}})</a>
                    <div ngbDropdownMenu aria-labelledby="toCurrency" class="dropdown-primary">
                        <a class="dropdown-item" (click)="changeToCurrency(currency)"
                        *ngFor="let currency of coinList">
                        {{currency.name}}
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pb-3 pt-3">
            <div class="col-sm-6 col-md-6 col-lg-6 offset-lg-3">
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" [(ngModel)]="amountSelected" (keyup)="filter()"
                        name="search" placeholder="Amount">
                    </div>
                </form>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 offset-lg-3 pt-2">
                {{amountSelected}} {{fromCurrency?.name}} ({{fromCurrency?.symbol}}) = {{exchangeAmt}} {{toCurrency?.name}} ({{toCurrency?.symbol}})
            </div>
        </div>
    </div>
    <div class="card-footer text-muted">
      2 days ago
    </div>
</div>
